@charset "UTF-8";

/* 라디오 버튼 */
.v-input__control {width: 100%;}
.v-btn-radio {display: flex;}
.v-btn-radio .v-radio {width:calc(25% - .375rem);}
.v-btn-radio .v-radio + .v-radio {margin-left: .5rem;}
.v-btn-radio .v-selection-control__wrapper {display: none;}
.v-btn-radio .v-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  font-weight: 500;
  color: #888;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: .125rem;
}
.v-btn-radio .v-selection-control--dirty .v-label {
  font-weight: 700;
  color:#356cff;
  border: 2px solid #356cff;
}
.v-btn-radio .v-btn--active.v-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: 2px solid #356cff;
  border-radius: inherit;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

@media only screen and (max-width: 1280px) {
  .v-input--density-default .v-field__input {
    min-height: 2.5rem;
  }
  .v-label {
    font-size: .875rem;
  }
  .v-input--density-default:not(.v-autocomplete--multiple),
  .v-field--variant-solo,
  .v-field--variant-filled {
    --v-input-control-height: 2.4375rem;
    --v-input-padding-top: 1px;
    input.v-field__input {
      padding-bottom: 1px;
    }
    .v-field__input {
      padding-bottom: 1px;
    }
    textarea {
      padding-top: 1px;
    }
  }
  .v-btn-radio .v-label {
    font-size: .875rem;
    height: 2.5rem;
    padding: 0;
    border-radius: .125rem;
  }
  .v-btn-radio .v-radio {
    width: calc(25% - .1875rem);
  }
  .v-btn-radio {
    .v-radio + .v-radio {
      margin-left: .25rem;
    }
  }
}