@charset "UTF-8";

.member {
  position: relative;
  max-width: 792px;
  margin: 0 auto;
  padding: 0;
  .member-header {
    position: relative;
    width: 100%;
    margin-bottom: 2.5rem;
    .h-title {
      font-family: 'OneShinhan';
      font-size: 2.5rem;
      font-weight: 700;
      color: #111518;
    }
  }
  .member-step {
    overflow: hidden;
    margin-bottom: 1rem;
    .step-txt {
      float: left;
      font-size: 2rem;
      font-weight: 500;
      color: #111518;
    }
  }
  .member-text {
    margin-bottom: 3rem;
    .text {
      font-size: 1.125rem;
      color: #111518;
    }
  }
  // 본인 인증
  .form-box {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e5e5e5;
    .form-group {
      position: relative;
      padding-left: 12.8rem !important;
      &.agree-depth {
        padding: 1.5rem 0 2rem 0;
        border-top: 1px solid #111518;
        border-bottom: 1px solid #111518;
      }
      .ele-tit {
        position: absolute;
        top: 0;
        left: 0;
        width: 12.8rem;
        padding-top: 1.5rem;
      }
      .terms-info {
        display: block;
        position: relative;
        .terms-wrap {
          display: block;
          position: relative;
          .terms-header {
            position: relative;
            margin: 0;
            padding: 0;
            .form-checkbox {
              display: block;
              position: relative;
              width: 100%;
              .v-checkbox .v-label {
                width: 100%;
                margin: 0 0 0 .5rem;
                padding-right: 2rem;
                font-size: 1rem;
                font-weight: 500;
              }
            }
            .btn-toggle {
              overflow: hidden;
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              width: 2rem;
              height: 2rem;
              transform: rotate(0);
              &.active {
                transform: rotate(180deg);
              }
            }
          }
          .terms-body {
            display: block;
            margin-top: 1.5rem;
            padding-top: 1rem;
            border-top: 1px solid #e5e5e5;
            .check-wrap {
              position: relative;
              width: 100%;
              margin-top: .5rem;
              .form-checkbox {
                display: block;
                position: relative;
                width: 100%;
                .v-checkbox .v-label {
                  display: block;
                  position: relative;
                  width: 100%;
                  height: auto;
                  padding: .25rem 6rem .25rem 2.5rem;
                  font-size: 1rem;
                  font-weight: 400;
                  color: #333;
                }
              }
              .btn-link {
                position: absolute;
                top: .25rem;
                right: 0;
                width: auto;
                height: 1.5rem;
                padding: 0;
                font-size: .875rem;
                color: #111518;
                line-height: 100%;
                .v-btn__append {
                  margin: .1rem 0 0 .1rem;
                }
              }
            }
          }
        }
      }
      + .form-group {
        margin-top: 1.5rem;
        .ele-tit {
          padding-top: .6rem;
        }
        .input-wrap {
          position: relative;
          width: 100%;
          box-sizing: border-box;
          .v-input--density-comfortable {
            --v-input-control-height: 2.875rem;
            --v-input-padding-top: .75rem;
          }
          &.btn-side .input-wrap {
            width: calc(100% - 10.5rem);
          }
          &.btn-side .btn-w10 {
            position: absolute;
            top: 0;
            right: 0;
            width: 10rem;
            min-width: 10rem;
          }
        }
        .jumin-wrap {
          overflow: hidden;
          > div {
            float: left;
          }
          .first {
            width: 20rem;
          }
          span {
            float: left;
            display: block;
            width: 1.5rem;
            height: 3rem;
            line-height: 3rem;
            color: #111518;
            text-align: center;
          }
          .last {
            width: 15rem;
            .input-wrap {
              float: left;
              width: 6rem;
            }
            .masking {
              float: left;
              display: flex;
              justify-content: space-between;
              width: auto;
              height: 3rem;
              padding: 1.3rem .5rem;
              line-height: 3rem;
              span {
                display: inline-block;
                width: .3rem;
                height: .3rem;
                line-height: 0;
                border-radius: 50%;
                background-color: #111518;
                vertical-align: middle;
                + span {
                  margin-left: .2rem;
                }
              }
            }
          }
        }
      }
      .text-tip {
        position: relative;
        margin-top: .5rem;
        font-size: .875rem;
        &.error {
          color: #ff3636;
        }
        &.hint {
          color: #356cff;
        }
      }
    }
    &.change {
      padding: 1.5rem 0;
      border-top: 1px solid #111518;
      .form-group:first-child {
        .ele-tit {
          padding-top: .6rem;
        }
      }
    }
  }
  // 비밀번호 변경
  .find-text {
    padding: 3rem 0 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #111518;
    text-align: center;
    word-break: break-word;
    .email {
      color: #356cff;
    }
  }
  .change-box {
    padding: 5rem 0 1rem;
    color: #111518;
    .title {
      font-size: 1.5rem;   
      font-weight: 500;
      span {
        color: #356cff;
      }
    }
    .text {
      padding-top: .5rem;
      font-size: 1.125rem;
    }
  }
  .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    .btn-w14 {
      width: 14rem;
      + .btn-w14 {
        margin-left: 1rem;
      }
    }
  }
  // 비밀번호 재설정
  .complete-box {
    padding: 5rem 0 3rem;
    text-align: center;
    .icon-success {
      width: 5rem;
      height: 5rem;
    }
    .complete-text {
      margin-top: 2rem;
      color: #111518;
      > div {
        font-size: 1.5rem;
        font-weight: 500;
        > span {
          color: #356cff;
        }
      }
      > p {
        padding-top: .75rem;
        font-size: 1.125rem;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .member {
    width: 100%;
    padding: 0 1.5rem;
    .member-header {
      margin-bottom: 1rem;
      .h-title {
        font-size: 1.25rem;
      }
    }
    .member-step {
      margin-bottom: .75rem;
      .step-txt {
        float: none;
        font-size: 1.25rem;
      }
    }
    .member-text {
      margin-bottom: 2rem;
      .text {
        font-size: 1rem;
      }
    }
    // 본인 인증
    .form-box {
      padding-bottom: 1.5rem;
      .form-group {
        padding-left: 0 !important;
        &.agree-depth {
          padding: 1rem 0 1.5rem 0;
        }
        .ele-tit {
          display: block;
          position: static;
          width: auto;
          padding-top: 0;
          padding-bottom: 1rem;
        }
        .terms-info {
          .terms-wrap {
            .terms-header {
              .form-checkbox {
                .v-checkbox .v-label {
                  font-size: .875rem;
                }
              }
              .btn-toggle {
                .mdi-arrow-down::before {
                  width: 1.25rem;
                  height: 1.25rem;
                }
              }
            }
            .terms-body {
              margin-top: 1rem;
              padding-top: .5rem;
              .check-wrap {
                .form-checkbox {
                  .v-checkbox .v-label {
                    padding-right: 5rem;
                    font-size: .875rem;
                  }
                }
                .btn-link {
                  font-size: .75rem;
                  .v-btn__append {
                    margin: 0 0 0 .1rem;
                    .mdi-chevron-right::before {
                      width: 1rem;
                      height: 1rem;
                    }
                  }
                }
              }
            }
          }
        }
        + .form-group {
          .ele-tit {
            padding: 0 0 .5rem 0;
          }
          .input-wrap {
            .v-text-field input {
              min-height: auto;
              padding-top: .7rem;
              padding-bottom: .6rem;
              font-size: .875rem;
            }
            .v-field__input::placeholder{
              font-size: .875rem;
            }
            &.btn-side .input-wrap {
              width: calc(100% - 7rem);
            }
            &.btn-side .btn-w10 {
              width: 6.5rem;
              min-width: 6.5rem;
            }
          }
          .jumin-wrap {
            display: flex;
            span {
              height: 2.5rem;
              line-height: 2.5rem;
            }
            .last {
              display: flex;
              .masking {
                height: 2.5rem;
                padding: 1.1rem .5rem;
                line-height: 2.5rem;
              }
            }
          }
        }
        .text-tip {
          font-size: .75rem;
        }
      }
      &.change {
        .form-group:first-child {
          .ele-tit {
            padding-top: 0;
            padding-bottom: .5rem;
          }
          .input-wrap {
            .v-text-field input {
              min-height: auto;
              padding-top: .7rem;
              padding-bottom: .6rem;
              font-size: .875rem;
            }
            .v-field__input::placeholder{
              font-size: .875rem;
            }
          }
        }
      }
    }
    // 비밀번호 변경
    .find-text {
      padding: 2rem 0 0;
      font-size: 1.125rem;
    }
    .change-box {
      padding: 4rem 0 1rem;
      .title {
        font-size: 1.25rem;
      }
      .text {
        padding-top: .75rem;
        font-size: 1rem;
      }
    }
    .btn-wrap {
      margin-top: 2.5rem;
      .btn-w14 {
        width: 100%;
        &.complete {
          width: calc(50% - .25rem);
        }
        + .btn-w14 {
          margin-left: .5rem;
        }
      }
    }
    // 비밀번호 재설정
    .complete-box {
      padding: 3.25rem 0 2rem;
      .icon-success {
        width: 4.5rem;
        height: 4.5rem;
      }
      .mdi-check-circle-outline::before {
        width: 4.5rem;
        height: 4.5rem;
      }
      .complete-text {
        margin-top: 1.5rem;
        > div {
          font-size: 1.125rem;
        }
        > p {
          padding-top: .5rem;
          font-size: 1rem;     
        } 
      }
    }
  }
}