.member {
  position: relative;
  max-width: 792px;
  margin: 0 auto;
  padding: 0;
  .member-header {
    position: relative;
    width: 100%;
    margin-bottom: 2.5rem;
    .h-title {
      font-family: 'OneShinhan';
      font-size: 2.5rem;
      font-weight: 700;
      color: #111518;
    }
  }
  .member-step {
    overflow: hidden;
    margin-bottom: 1rem;
    .step-txt {
      float: left;
      font-size: 2rem;
      font-weight: 500;
      color: #111518;
    }
  }
  .member-text {
    margin-bottom: 3rem;
    .text {
      font-size: 1.125rem;
      color: #111518;
    }
  }
  .form-wrap {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e5e5e5;
    .form-group {
      position: relative;
      padding-left: 12.8rem !important;
      &.agree-depth {
        padding: 1.5rem 0 2rem 0;
        border-top: 1px solid #111518;
        border-bottom: 1px solid #111518;
      }
      .ele-tit {
        position: absolute;
        top: 0;
        left: 0;
        width: 12.8rem;
        padding-top: 1.5rem;
      }
      .terms-info {
        display: block;
        position: relative;
        .terms-wrap {
          display: block;
          position: relative;
          .terms-header {
            position: relative;
            margin: 0;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid #e5e5e5;
            .form-checkbox {
              display: block;
              position: relative;
              width: 100%;
              .v-checkbox .v-label {
                margin: 0 0 0 .5rem;
                font-size: 1rem;
                font-weight: 500;
              }
            }
            .btn-toggle {
              overflow: hidden;
              display: block;
              position: absolute;
              top: .25rem;
              right: 0;
              width: 1.5rem;
              height: 1.5rem;
              transform: rotate(0);
            }
          }
          .terms-body {
            display: block;
            padding: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .member {
    width: 100%;
    padding: 0 1.5rem;
    .member-header {
      margin-bottom: 1rem;
      .h-title {
        font-size: 1.25rem;
      }
    }
    .member-step {
      margin-bottom: .75rem;
      .step-txt {
        float: none;
        font-size: 1.25rem;
      }
    }
    .member-text {
      margin-bottom: 2rem;
      .text {
        font-size: 1rem;
      }
    }
  }
}