@charset "UTF-8";

.v-dialog > .v-overlay__content {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}
.v-overlay__scrim { 
  background: rgb(17, 21, 24);
  opacity: .7;
}
.popup-wrap {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 1.6rem;
  &.large {
    width: 99.6rem;
    max-height: 75rem;
  }
  &.medium {
    width: 79.2rem;
    max-height: 75rem;
  }
  &.small {
    width: 42.4rem;
    .popup-head {
      padding: 4.8rem 3.2rem 1.6rem;
    }
  }
  .popup-head {
    padding: 2.4rem 3.2rem;
    border-radius: 1.6rem 1.6rem 0 0;
    .h-title {
      font-size: 2.4rem;
      font-weight: 500;
      color: #111518;
    }
  }
  .popup-cont {
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    padding: 0 3.2rem;
    .alarm {
      padding: 1.6rem 0;
      font-size: 1.6rem;
      color: #333;
      word-break: keep-all;
    }
  }
  // .popup-scroll-area {
  //   overflow: auto;
  //   overflow-x: hidden;
  //   height: 28.6rem;
  //   margin: 0 -3.2rem;
  //   padding: 0 1.5rem 0 3.2rem;
  // }
  .text-tip {
    position: relative;
    margin-top: .8rem;
    font-size: 1.4rem;
    &.error {
      color: #ff3636;
    }
    &.success {
      color: #356cff;
    }
    &.message {
      color: #888;
    }
  }
  .popup-foot {
    position: relative;
    width: 100%;
    padding: 0 3.2rem;
    .btn-popwrap {
      padding-top: 2.4rem; 
      padding-bottom: 2.4rem;
    }
  }
  .busi-add {
    .form-box {
      display: flex;
      flex-direction: column; 
      height: 40rem;
      .form-group {
        position: relative;
        padding-left: 0 !important;  
        + .form-group {
          margin-top: 2.4rem;
        }
        .ele-tit {     
          width: 100%;
          padding-bottom: 0.8rem;
          .v-label{font-size: 1.6rem;}
        }       
      }      
    }
    &.popup-scroll-area {
      overflow: auto; 
      height: 40rem;
    }
  }
  .v-input--density-default .v-field__input {
    min-height: 4.8rem;
  }
}
.v-btn.btn-popup-close {
  all: unset;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 2.4rem;
  right: 2.6rem;
  width: 3.6rem;
  height: 3.6rem;
  background-image: url('../images/icon/icon_popup_close.png');
  background-size: 2.4rem;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  .v-btn__content {
    all: unset;
  }
}
.popup-alert-wrap {
  width: 36rem;
  height:auto;
  background-color:#fff;
  border-radius: 1.6rem; 
    .alert-cont {
      padding: 2.8rem 2.4rem;
      border-radius: 1.6rem 1.6rem 0;
      text-align: center;
    }
    .alert-foot {
      border-top: 0.0625rem solid #E5E5E5;
    }   
    .v-btn.btn-alert-close {
      all: unset;     
      display: block;
      width: 100%;
      height: 5.2rem;
      overflow: hidden;
      font-size: 1.6rem;
      color: #356CFF;
      cursor: pointer;  
    }
 }

@media only screen and (max-width: 1280px) {
  .popup-wrap {
    border-radius: 0;
    &.large {
      // left: -3.2rem !important;
      // width: 100vw;
      // height: 100vh;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
    &.medium {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
    &.small {
      width: 31.2rem;
      border-radius: 1.6rem;
      .member {
        padding: 0;
      }
      .popup-foot {
        position:relative;
        // padding: 0 1.5rem;
        width: 100%;
      }
    }
    .popup-head {
      padding: 1.4rem 2.4rem 1.5rem 2.4rem;
      border-radius: 0;
      .h-title {
        font-size: 1.8rem;
      }
    }
    .text-tip {
      font-size: 1.2rem;
    }
    .popup-foot {
      position:relative;
      width: 100%;
      .btn-popwrap {
        padding-top: 2.4rem; 
        padding-bottom: 2.4rem;
      }
    }
    .form-group + .form-group {
      margin-top: 2.4rem;
    }
    .popup-cont {
      padding: .8rem 2.4rem; 
      max-height: calc(100vh - 7.2rem);
    }
    // 본인 인증
    .busi-add {
      .form-box {
        display: flex;
        flex-direction: column;
        height: 25rem;
        .form-group {
          position: relative;
          padding-left: 0 !important;
          .ele-tit {
            width: 100%;
            padding: 1.2rem 0 0.8rem;
            .v-label{font-size: 1.4rem;}
          }
          + .form-group {margin-top: 1.6rem;}
        }
      }
    }
    .v-input--density-default .v-field__input {
      min-height: 4rem;
    }
  }
  .v-btn.btn-popup-close {
    top: 1.4rem;
    right: 2.2rem;
    width: 2.7rem;
    height: 2.7rem;
  }
  .popup-alert-wrap {
    margin: 0 4.8rem;
    max-width: calc(100% - 9.6rem);
    height: auto;
    background-color: #fff;
    border-radius: 1.6rem; 
    .alert-cont {
      padding: 2.8rem 2.4rem;
      font-size: 1.6rem;
      border-radius: 1.6rem 1.6rem 0;
    }
    .alert-foot {
      border-top: 1px solid #e5e5e5;
    }
    .v-btn.btn-alert-close {
      display: block;
      width: 100%;
      height: 5.2rem;
      font-size: 1.6rem;
    }
  }
  .popup-foot.fixed {
    position: fixed;
    // padding:0 1.5rem 1.5rem;
    width: 100%;
    bottom: 0;
    left: 0;
    .btn-wrap.popup {
      margin-top: 0.8rem;
      padding-top: 1.6rem;
    }
  }
}