@charset "UTF-8";

.v-dialog > .v-overlay__content {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}
.v-overlay__scrim { 
  background: rgb(17, 21, 24);
  opacity: .7;
}
.popup-wrap {
  position: relative;
  background-color: #fff;
  border-radius: 1.6rem;
  &.large {
    display: flex;
    flex-direction: column;
    width: 99.6rem;
    max-width: 100%;
    max-height: 75rem;
    transition: all 0.3s ease;
  }
  &.medium {
    display: flex;
    flex-direction: column;
    width: 79.2rem;
    max-width: 100%;
    max-height: 75rem;
    margin: 0 auto;
    margin-top: 0 !important;
    transition: all 0.3s ease;
    .popup-head {
      flex: none;
      overflow: hidden;
      position: relative;
    }
    .popup-cont {
      margin-bottom: 2.4rem;
      &::after {
        content: '';
        display: block;
      }
    }
  }
  &.small {
    width: 42.4rem;
    max-width: calc(100% - 4.8rem);
    max-height: calc(100% - 4.8rem);
    margin: 2.4rem;
    .popup-head {
      padding: 4.8rem 3.2rem 1.6rem;
    }
    .popup-foot {
      .btn-popwrap {
        .cancel {
          width: 12.8rem;
        }
        .default {
          width: 22.4rem;
          margin-left: .8rem;
        }
        &.end {
          .cancel {
            width: calc(50% - .4rem);
          }
          .default {
            width: calc(50% - .4rem);
          }
        }
        &.auto {
          .default {
            width: 100%;
            margin-left: 0;
          }
        }
      }
    }
  }
  .popup-head {
    padding: 2.4rem 3.2rem;
    border-radius: 1.6rem 1.6rem 0 0;
    .h-title {
      font-size: 2.4rem;
      font-weight: 500;
      color: #111518;
    }
  }
  .popup-cont {
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    padding: 0 3.2rem;
    .alarm {
      padding: 1.6rem 0 2.4rem;
      font-size: 1.6rem;
      color: #333;
      word-break: keep-all;
    }
    .terms-cont {
      padding: .8rem 0;
      word-break: keep-all;
      .t-tit0 {
        font-size: 2.2rem;
        font-weight: 500;
        &:nth-of-type(n+2) {
          margin-top: 4.8rem;
        }
      }
      .t-tit1 {
        margin-top: 1.6rem;
        font-size: 1.8rem;
        font-weight: 500;
        &:nth-of-type(n+2):nth-of-type(-n+4),
        &:nth-of-type(n+6):nth-of-type(-n+7),
        &:nth-of-type(n+9):nth-of-type(-n+12),
        &:nth-of-type(n+14):nth-of-type(-n+16),
        &:nth-of-type(n+18) {
          margin-top: 4.8rem;
        }
      }
      p {
        margin-top: 1.6rem;
        font-size: 1.6rem;
      }
      ol {
        margin-top: 1.6rem;
        font-size: 1.6rem;
        > li {
          padding-left: 1.9rem;
          text-indent: -1.9rem;
          + li {
            margin-top: 2.4rem;
          }
          > * {
            margin-top: 2.4rem;
            margin-left: -1.9rem;
            text-indent: 0;
            li + li {
              margin-top: 1.6rem;
            }
            li > * {
              margin-top: 1.6rem;
              margin-left: 0;
              li {
                margin-top: .8rem;
                padding-left: 2.3rem;
                text-indent: -2.3rem;
                &:first-child {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
    }
    .text-tip {
      position: relative;
      margin-top: .8rem;
      font-size: 1.4rem;
      &.error {
        color: #ff3636;
      }
      &.success {
        color: #356cff;
      }
      &.message {
        color: #888;
      }
    }
  }
  // .popup-scroll-area {
  //   overflow: auto;
  //   overflow-x: hidden;
  //   height: 28.6rem;
  //   margin: 0 -3.2rem;
  //   padding: 0 1.5rem 0 3.2rem;
  // }
  .popup-foot {
    position: relative;
    width: 100%;
    padding: 2.4rem 3.2rem;
    .btn-popwrap {
      display: flex;
      justify-content: center;
      align-items: center;
      .default {
        width: 22.4rem;
      }
    }
  }
  .busi-add {
    .form-box {
      display: flex;
      flex-direction: column; 
      height: 40rem;
      .form-group {
        position: relative;
        padding-left: 0 !important;  
        + .form-group {
          margin-top: 2.4rem;
        }
        .ele-tit {     
          width: 100%;
          padding-bottom: 0.8rem;
          .v-label{font-size: 1.6rem;}
        }       
      }      
    }
    // &.popup-scroll-area {
    //   overflow: auto; 
    //   height: 40rem;
    // }
  }
  .v-input--density-default .v-field__input {
    min-height: 4.8rem;
  }
}
.popup-alert-wrap {
  position: relative;
  width: 36rem;
  max-width: calc(100% - 9.6rem);
  max-height: calc(100% - 4.8rem);
  margin: 2.4rem 4.8rem;
  background-color:#fff;
  border-radius: 1.6rem;
  .alert-cont {
    position: relative;
    padding: 2.8rem 2.4rem;
    text-align: center;
    .text {
      font-size: 1.6rem;
      word-break: keep-all;
    }
  }
  .alert-foot {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.2rem;
    border-top: .1rem solid #e5e5e5;
    &.confirm {
      .cancel {
        width: 50%;
        height: 100%;
        font-size: 1.6rem;
        color: #666;
      }
      .default {
        width: 50%;
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: .1rem;
          height: 100%;
          background-color: #e5e5e5;
        }
      }
    }
    .default {
      width: 100%;
      height: 100%;
      font-size: 1.6rem;
      color: #356CFF;
    }
  }
}
.v-btn.btn-popup-close {
  all: unset;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 2.4rem;
  right: 2.6rem;
  width: 3.6rem;
  height: 3.6rem;
  background-image: url('../images/icon/icon_popup_close.png');
  background-size: 2.4rem;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  .v-btn__content {
    all: unset;
  }
}

@media only screen and (max-width: 1280px) {
  .popup-wrap {
    border-radius: 0;
    &.large {
      // left: -3.2rem !important;
      // width: 100vw;
      // height: 100vh;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
    &.medium {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      min-height: 0;
      .popup-cont {
        margin-bottom: 0;
        padding-bottom: 2.4rem;
      }
    }
    &.small {
      border-radius: 1.6rem;
      .popup-head {
        padding: 3.2rem 2.4rem 1.2rem;
        border-radius: 1.6rem 1.6rem 0 0;
      }
      .popup-foot {
        .btn-popwrap {
          .cancel {
            width: calc(40% - .4rem);
            height: 4.2rem;
          }
          .default {
            width: calc(60% - .4rem);
            height: 4.2rem;
          }
        }
      }
    }
    .popup-head {
      padding: 1.4rem 2.4rem 1.5rem;
      border-radius: 0;
      .h-title {
        font-size: 1.8rem;
      }
    }
    .popup-cont {
      padding: 0 2.4rem;
      .alarm {
        padding: .8rem 0 1.6rem;
        font-size: 1.4rem;
      }
      .terms-cont {
        .t-tit0 {
          font-size: 1.6rem;
          &:nth-of-type(n+2) {
            margin-top: 4rem;
          }
        }
        .t-tit1 {
          margin-top: 1.2rem;
          font-size: 1.5rem;
          &:nth-of-type(n+2):nth-of-type(-n+4),
          &:nth-of-type(n+6):nth-of-type(-n+7),
          &:nth-of-type(n+9):nth-of-type(-n+12),
          &:nth-of-type(n+14):nth-of-type(-n+16),
          &:nth-of-type(n+18) {
            margin-top: 4rem;
          }
        }
        p {
          margin-top: 1.2rem;
          font-size: 1.4rem;
        }
        ol {
          margin-top: 1.2rem;
          font-size: 1.4rem;
          > li {
            padding-left: 1.7rem;
            text-indent: -1.7rem;
            + li {
              margin-top: 1.6rem;
            }
            > * {
              margin-top: 1.6rem;
              margin-left: -1.7rem;
              li + li {
                margin-top: 1.2rem;
              }
              li > * {
                margin-top: 1.2rem;
                li {
                  padding-left: 2.1rem;
                  text-indent: -2.1rem;
                }
              }
            }
          }
        }
      }
      .form-group + .form-group {
        margin-top: 2.4rem;
      }
      .text-tip {
        font-size: 1.2rem;
      }
    }
    .popup-foot {
      padding: 1.6rem 2.4rem 2.4rem;
      .btn-popwrap {
        .default {
          width: 100%;
        }
      }
      &.fixed {
        position: fixed;
        // padding:0 1.5rem 1.5rem;
        width: 100%;
        bottom: 0;
        left: 0;
        .btn-wrap.popup {
          margin-top: .8rem;
          padding-top: 1.6rem;
        }
      }
    }
    // .popup-cont {
    //   padding: .8rem 2.4rem; 
    //   max-height: calc(100vh - 7.2rem);
    // }
    // 본인 인증
    .busi-add {
      .form-box {
        display: flex;
        flex-direction: column;
        height: 25rem;
        .form-group {
          position: relative;
          padding-left: 0 !important;
          .ele-tit {
            width: 100%;
            padding: 1.2rem 0 0.8rem;
            .v-label{font-size: 1.4rem;}
          }
          + .form-group {margin-top: 1.6rem;}
        }
      }
    }
    .v-input--density-default .v-field__input {
      min-height: 4rem;
    }
  }
  .v-btn.btn-popup-close {
    top: 1.4rem;
    right: 2.2rem;
    width: 2.7rem;
    height: 2.7rem;
  }
}