@charset "UTF-8";

.v-dialog > .v-overlay__content {
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
}
.v-overlay__scrim { 
  background: rgb(17, 21, 24);
  opacity: .7;
}
.popup-wrap{
  // height:35.75rem;
  background-color:#fff;
  border-radius: 1rem;
  padding-bottom: 1.5rem;
  &.w62{
    width: 62.25rem;
  }
  &.w36{
    width: 36.75rem;
    .popup-cont{
      max-height: 25rem;
    }
    .btn-wrap {
      margin-top: 0;
    }
  }
  .popup-head{
    border-radius: 1rem 1rem 0;
    padding: 1.5rem 2rem;
    .popup-title{
      font-size: 1.5rem;
      color:  #111518;
      font-weight: 500;
    }
   }
   .popup-cont{
    padding: .5rem 2rem; 
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    max-height: 25rem;
   }
 }
 .v-btn.btn-popup-close{
  all: unset;
  position: absolute;
  right: 0;
  top:0;
  display: block;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  background-image:url(../images/icon/icon_popup_close.png); 
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  .v-btn__content {
    all: unset;
  }
}
 .popup-alert-wrap{
  width: 22.5rem;
  height:auto;
  background-color:#fff;
  border-radius: 1rem; 
    .alert-cont{
      padding: 1.75rem 1.5rem;
      border-radius: 1rem 1rem 0;
      text-align: center;
    }
    .alert-foot{
      border-top: 1px solid #E5E5E5;
    }   
    .v-btn.btn-alert-close{
      all: unset;     
      display: block;
      width: 100%;
      height: 3.25rem;
      overflow: hidden;
      font-size: 1rem;
      color: #356CFF;
      cursor: pointer;  
    }
 }
 .popup-foot{
  position:relative;
  padding:1.5rem 2rem;
  width: 100%;
 }




 @media only screen and (max-width: 1280px) {
  .popup-wrap{
    padding-bottom: 1.5rem;
    border-radius: 0;
    .form-group + .form-group {margin-top: 1.5rem;}
    &.w62{
      left: -2rem !important;
      width: 100vw;
      height:100vh;
    }
    &.w36{
      width: 19.5rem;
      border-radius: 1rem;
      .member{
        padding: 0;
      }
      .popup-foot {
        position:relative;
        padding: 0 1.5rem;
        width: 100%;
      }
    }
    .popup-head{
      border-radius: 0;
      padding: 0.875rem 1.5rem 0.9375rem 1.5rem;
      .popup-title{
        font-size: 1.125rem;     
      }
     }
    .popup-cont{
      padding: .5rem 1.5rem; 
      max-height: calc(100vh - 4.5rem);
     }
   }
  .v-btn.btn-popup-close{ 
    width: 3.5rem;
    height: 3.5rem; 
  }
  .popup-alert-wrap{
  margin:0 3rem;
  max-width: calc(100% - 6rem);  
  height:auto;
  background-color:#fff;
  border-radius: 1rem; 
    .alert-cont{
      padding: 1.75rem 1.5rem;
      font-size: 1rem;
      border-radius: 1rem 1rem 0;
    }
    .alert-foot{
      border-top: 1px solid #E5E5E5;
    }   
    .v-btn.btn-alert-close{ 
      display: block;
      width: 100%;
      height: 3.25rem;
      font-size: 1rem;
    }
  }
  .popup-foot{
    position:fixed ;
    padding:0 1.5rem 1.5rem;
    width: 100%;
    bottom: 0;
    left:0;
    .btn-wrap.popup {
      margin-top: 0.5rem;
      padding-top: 1rem;
  }
 }
}




// .v-selection-control__input::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border-radius: 100%;
//   background-color: #fff;
//   opacity: 0;
//   pointer-events: none;
// }