.inner-wrapper {
    display: flex;
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 3.2rem;
    .sub-group {
        flex: 1;
    }
}

.sub-title-area {
    margin-bottom: 4rem;
}

// 검색결과
.search-wrap {
    margin-bottom: 4rem;
    .search-box {
        padding: 1.6rem;
        border-radius: 1.6rem;
        background-color: #F7F8FC;
        .inp {
            max-width: 79.2rem;
            margin: auto;
            .v-text-field .v-field {
                background-color: #fff !important;
                .v-field__append-inner {
                    padding-right: 1.6rem;
                }
            }
        }
    }
    .hashtag-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1.6rem;
        .hashtag {
            color: #7F87A4;
            font-size: 1.6rem;
            line-height: 150%;
            +.hashtag {
                margin-left: 1.6rem;
            }
        }
    }
}

// slide-btn
.slide-btn {
    max-width: 120rem;
    margin-bottom: 5.6rem;
    .v-slide-group {
        position: relative;
        .v-btn {
            padding: 1rem 1.6rem;
            border-color: #ddd;
            color: #666;
            font-weight: 400;
            line-height: 100%;
            &.bg-primary-darkblue {
                color: #fff;
                background-color: #091850;
            }
            + .v-btn {
                margin-left: 1.6rem;
            }
        }
        .v-icon {
            display: none;
        }
        .v-slide-group__next,
        .v-slide-group__prev {
            position: absolute;
            min-width: 2.4rem;
            height: 4.8rem;
            z-index: 1;
        }
        .v-slide-group__prev {
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }
        .v-slide-group__next {
            right: 0;
            background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }
        .v-slide-group__next--disabled,
        .v-slide-group__prev--disabled {
            opacity: 0;
            background: transparent;
        }
    }
}

.contents-list-area {
    margin-top: 1.6rem;
    padding-top: 2.4rem;
    border-top: 1px solid #111518;
    .v-card {
        border-color: #E5E5E5;
        border-radius: 2.4rem !important;
        .cell {
            .thumbnail {
                --max-height: 38.2rem;
                img {
                    width: 100%;
                    max-height: var(--max-height);
                }
            }
            .text {
                padding: 3.2rem;
                .category {
                    margin-bottom: 0.8rem;
                    color: #333;
                }
                .text-twolines {
                    min-height: 5.4rem;
                    &.text-18 {
                        color: #111518;
                    }
                }
                .date {
                    margin-top: 1.6rem;
                    color: #666;
                }
            }
        }
    }
    .services-more-area {
        padding-top: 6.4rem;
    }
}

.contents-detail {
    border-top: 1px solid #111518;
    .article {
        padding: 2.4rem 0;
        border-bottom: 1px solid #E5E5E5;
    }
    .summary-info {
        .text-row {
            display: flex;
            margin-top: 1.6rem;
            .v-divider--vertical {
                margin: .2rem 1.6rem;
                color: #e5e5e5;
                opacity: 1;
            }
            .category {
                color: #356CFF;
            }
        }
        .date {
            color: #666;
        }
        .text + .date {
            margin-top: 1.6rem;
        }
    }
    .download-list {
        >li {
            padding: .8rem 0;
            .text-16 {
                color: #333;
            }
            .icon-download {
                margin-right: 0.8rem;
            }
        }
    }
    .detail-info {
        padding: 1.6rem 0;
        .text-16 + .img {
            margin-top: 1.6rem;
        }
        .img + .text-16 {
            margin-top: 4rem;
        }
    }
}

// 고객센터
.customer-list {
    .v-list {
        padding: 0;
        border-top: 1px solid #111518;
        .v-list-item {
            border-bottom: 1px solid #e5e5e5;
            padding: 1.6rem 0;
            &.v-list-item--density-default:not(.v-list-item--nav).v-list-item--one-line {
                padding-inline: 0;
            }
            .v-list-item__prepend {
                min-width: 4.8rem;
                margin-right: 2.4rem;
            }
            .v-list-item__append {
                justify-content: flex-end;
                min-width: 8.8rem;
                margin-left: 2.4rem;
            }
        }
    }
    .title {
        .pc {
            display: flex;
            align-items: center;
        }
        .text-16 {
            max-width: 98.4rem;
        }
        .icon-clip {
            flex-shrink: 0;
            margin-left: .8rem;
        }
        .mo {
            display: none;
        }
    }
    .date {
        color: #666;
    }
    .services-more-area {
        padding-top: 6.4rem;
    }
}



// checkbox
.inp-checkbox {
    display: flex;
    .v-selection-control--density-comfortable {
        --v-selection-control-size: 2.4rem;
        .v-selection-control__wrapper {
            margin-right: 0.8rem;
        }
    }
    .v-input--density-comfortable {
        --v-input-control-height: 2.4rem;
    }
    .v-selection-control__input > .v-icon {
        width: var(--v-selection-control-size);
        height: var(--v-selection-control-size);
        opacity: 1;
    }
    .mdi-checkbox-blank-outline::before {
        content: '';
        width: var(--v-selection-control-size);
        height: var(--v-selection-control-size);
        background: url('../images/icon/icon_checkbox_off.svg') 0 0 / cover;
    }
    .mdi-checkbox-marked::before {
        content: '';
        width: var(--v-selection-control-size);
        height: var(--v-selection-control-size);
        background: url('../images/icon/icon_checkbox_on.svg') 0 0 / cover;
    }
    .v-label {
        color: #111518;
        font-size: 1.6rem;
        font-weight: 400;
    }
    .v-selection-control--disabled {
        opacity: 1;
        .mdi-checkbox-blank-outline::before {
            background-image: url('../images/icon/icon_checkbox_off_disabled.png');
        }
        .mdi-checkbox-marked::before {
            background-image: url('../images/icon/icon_checkbox_on_disabled.png');
        }
        .v-label {
            color: #888;
        }
    }
}



@media only screen and (max-width: 1280px) {
    // 임시
    .inner-wrapper {
        flex-direction: column;
        padding: .8rem 0 0;
    }
    .tab-area {
        max-width: 100vw;
    }
    // v-list
    .customer-list {
        .v-list .v-list-item {
            display: flex;
            flex-direction: column;
            .v-list-item__prepend {
                display: none;
            }
            .v-list-item__content,
            .v-list-item__append {
                align-self: flex-start;
            }
            .title {
                .pc {
                    display: none;
                }
                .mo {
                    display: inline-block;
                    .icon-clip {
                        width: 2rem;
                        height: 2rem;
                        vertical-align: text-bottom;
                    }
                }
            }
            .v-list-item__append {
                justify-content: flex-start;
                margin-left: 0;
            }
        }
    }
}
