.inner-wrapper {
    display: flex;
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 3.2rem;
    .sub-group {
        flex: 1;
    }
}

// 검색결과
.search-wrap {
    margin-bottom: 4rem;
    .search-box {
        padding: 1.6rem;
        border-radius: 1.6rem;
        background-color: #F7F8FC;
        .inp {
            max-width: 79.2rem;
            margin: auto;
            .v-text-field .v-field {
                background-color: #fff !important;
                .v-field__append-inner {
                    padding-right: 1.6rem;
                }
            }
        }
    }
    .hashtag-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1.6rem;
        .hashtag {
            color: #7F87A4;
            font-size: 1.6rem;
            line-height: 150%;
            +.hashtag {
                margin-left: 1.6rem;
            }
        }
    }
}
.tab-area {
    max-width: 120rem;
    margin-bottom: 5.6rem;
    overflow: hidden;
    .tabs {
        flex-wrap: nowrap;
        overflow-x: auto;
        .v-btn {
            padding: 1rem 1.6rem;
            border: 1px solid #ddd !important;
            color: #666;
            background-color: #fff;
            font-size: 1.6rem;
            line-height: 100%;
            &.v-btn--active {
                color: #fff;
                background-color: #091850;
            }
            +.v-btn {
                margin-left: 1.6rem;
            }
        }
    }
}



@media only screen and (max-width: 1280px) {
    // 임시
    .inner-wrapper {
        flex-direction: column;
        padding: .8rem 0 0;
    }
    .tab-area {
        max-width: 100vw;
    }
}