@charset "UTF-8";

/* 검색 */
.search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1.6rem 3.2rem;
  background: #F7F8FC;
  .input-wrap {
    position: relative;
    width: 58.8rem;  
    .v-input,
    .v-input__control {    
      width:100%;      
      background-color: #fff !important;
      border-radius: .8rem;
    }
  }
  .v-field__clearable {
    right: 4.8rem;
  }  
  .v-theme--DefaultTheme .v-field__input {
    padding-right: 8rem;
  }
}
/* 팝업 */
.btn-wrap.popup {
  margin-top: .8rem;
  padding-top: 2.4rem;
  border-top: .1rem solid #e5e5e5;
}
.popup-agree-wrap .popup-cont {
  overflow: hidden;
  max-height: max-content;
}
.popup-scroll-area .table-wrap {
  height: 30rem;
  .v-input {
    font-size: 1.6rem;
  }
}
/* table */ 
.table-wrap {
  margin: 0;
  border-top: 1px solid #111518;
  .table-head {
    display: flex;
    font-size: 1.6rem;
    border-bottom: .1rem solid #ddd;
    // .tb-radio-head {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   width: 6.4rem;
    // }
    .table-list-head {
      display: flex;
      width: 100%;
      padding: 1.6rem 0;
    }
  }
  .table-list-body {
    .table-list-group {
      display: flex;
      border-bottom: .1rem solid #ddd;
      .tb-radio {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.4rem;
        .v-selection-control {
          flex: none;
        }
      }
      .table-list {
        display: flex;
        width: 100%;
        padding: 1.6rem 0;
      }
    }
  }
  &.search {
    .bo-select {
      width: 6.4rem;
      text-align:center;
    }
    .bo-name {
      width: 41.6rem;
      text-align:center;
    }
    .bo-num {
      width: 16rem;
      text-align:center;
    }
    .bo-email {
      width: 29.2rem;
      text-align:center;
    }
    .table-list-body {
      color: #333;
      .bo-name {
        padding: 0 1.6rem;
        text-align:left;
      }
    }
  }
}
/* 데이터 없음 */
.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 4.8rem 3.2rem;
  border-bottom: .1rem solid #e5e5e5;
  .no-data-tit {
    color: #111518;
    font-size: 2.4rem;
    font-weight: 500;
  }
  .no-data-txt {
    margin-top: 1.2rem;
    font-size: 1.6rem;
    color: #666;
  }
}
/* 설명글 */
.info-area {
  padding: 2.4rem 3.2rem 0 3.2rem;
  .info-tip {      
    color: #666;
    font-size: 1.4rem;
  }
  .info-title {
    display: flex;
    align-items: center;
    padding: 1.6rem 0;
    font-size: 1.6rem;
    color: #111518;
    .info-txt {
      margin-right: .8rem;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .popup-scroll-area .table-wrap {
    overflow: auto;
      height: calc(100vh - 44.8rem);
    .v-input {
      font-size: 1.4rem;
    }
  }
  /* 데이터 없음 */
  .no-data {
    padding: 3.2rem 2.4rem;
    .no-data-tit {
      font-size: 1.8rem;
    }
    .no-data-txt {
      margin-top: 0.4rem;
      font-size: 1.4rem;
    }
  }
  /* table */ 
  .table-wrap.search {
    .bo-name {
      width: 100%;
      text-align: left;
    }
    .bo-num {
      width: 100%;
      text-align: left;
    }
    .bo-email {
      width: 100%;
      text-align: left;
    }
  }
  /* 검색 */
  .search-area {
    padding: 1rem;
    .input-wrap{     
      width: 100%;  
    }
  }
  /* 설명글 */
  .info-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 12rem;
    .info-tip {
      color: #666;
      font-size: 1.2rem;
    }
    .info-title {
      font-size: 1.2rem;
    }
  }
  .table-wrap {
    margin: 1.2rem 0 3.2rem;
    border-top: 1px solid #111518;
    .table-head {
      display: none;
    }
    .table-list-head {
      display: flex;
      width: 100%;
      padding: 1.6rem;
    }
    .table-list-body {
      .table-list-group {
        display: flex;
        border-bottom: 1px solid #ddd;
        .tb-radio {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 6.4rem;
        }
        .table-list {
          display: flex;
          flex-direction: column;
          width:100%;
          padding: 1.2rem;
        }
      }
    }
  }
}