@charset "utf-8";
/*-------------------------------------------------------------------
	파일정의 : 컨텐츠 스타일
	작성날짜 : 2020-05-06
	참고사항 : 접근경로를 표시한다.
	분류순서 : 공통화면 > 메뉴화면 > 팝업화면
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ## Wrapper
-------------------------------------------------------------------*/
/* SkipNav */
.skipNav {position:absolute; left:0; top:0; width:100%; height:0;}
.skipNav a {display:block; position:absolute; left:0; bottom:0; width:100%; line-height:30px; background-color:#000; color:#fff; text-align:center; transform:translateY(0);}
.skipNav a:focus {transform:translateY(100%);}

/* Layout */
html, body {height:100%;}
.wrapper {display:flex; flex-direction:column; min-height:100%;}
.container {width:100%; flex-grow:1; display:flex; flex-direction:column;}
.content {flex-grow:1;}

/*-------------------------------------------------------------------
    ## Intro
-------------------------------------------------------------------*/
.intro-body .wrapper {display:flex; justify-content:center; align-items:center;}
.intro-body .container {width:100%; justify-content:center;}
.intro-body .container .content {flex:none;}

.intro-sec .section-title {text-align:center;}
.intro-sec .section-title .btn-area {margin-top:40px;}
.intro-sec .section-title h2 {font-size:40px; font-weight:300; letter-spacing:-0.5px;}
.intro-sec .section-nav {margin-top:60px; text-align:center;}
.intro-sec .section-nav ul {display:inline-flex; font-weight:300;}
.intro-sec .section-nav ul a {display:block; position:relative; padding:5px 10px; font-size:18px;}
.intro-sec .section-nav ul li:last-child a::after {display:none;}
.intro-sec .btn-area {display:none; justify-content:center;}
.intro-sec .btn {border-radius: 30px;}
.intro-sec .btn.started {padding:10px 20px; margin:0 5px; border-radius:30px; background-color:#fff; border:1px solid #666; font-weight:400; color:#666; font-size:20px; text-align:center;}